---
import { Navbar } from 'shared-ui'
import { navItems } from '../shared/mainNav'

import StepByDayDots from '../shared/StepByDayDots'
import StepByDayDotsCumulative from '../shared/StepByDayDotsCumulative'

const SITE = import.meta.env.SITE
const API_ENDPOINT = `${SITE}api/walking.csv`
const csvText = await fetch(API_ENDPOINT).then((r) => r.text())
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Walking</title>
  </head>
  <body>
    <Navbar current="/walking" items={navItems}>
      <main>
        <StepByDayDots client:load csvData={csvText} />
        <StepByDayDotsCumulative client:load csvData={csvText} />
      </main>
    </Navbar>
  </body>
</html>
